@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-cream text-charcoal font-sans antialiased transition-colors;
    }

    .dark body {
        @apply bg-dark-bg text-slate-50;
    }
}